<a href="https://colab.research.google.com/github/KleberBarilli/Codes-Python/blob/master/Premier_League.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FTHG - Gols do time da casa
FTAG - Gols do visitante
FTR - Resultado do jogo
HTHG - Gols do time da casa no primeiro tempo
HTAG - Gols do visitante no primeiro tempo
HTR - Resultado do primeiro tempo
HS - Total de chutes do time da casa
AS - Total de chutes do visitante
HST - Total de chutes no GOL do time da casa
AST - Total de chutes no GOL do visitante

In [ ]:
import pandas as pd

s1 = pd.read_csv("PL16-17.csv")
s2 = pd.read_csv("PL17-18.csv")
s3 = pd.read_csv("PL18-19.csv")


df = pd.concat([s1,s2,s3],sort=False)
df = df.drop(columns=["Div","Referee","WHH","WHD","WHA","VCH","VCD","VCA","Bb1X2","BbMxH","BbAvH","BbMxD","BbAvD","BbMxA","BbAvA","BbOU","BbMx>2.5","BbAv>2.5","BbMx<2.5","BbAv<2.5","BbAH","BbAHh","BbMxAHH","BbAvAHH","BbMxAHA","BbAvAHA","PSCH","PSCD","PSCA","BWH","BWD","BWA","IWH","IWD","IWA","PSH","PSD","PSA","HC","AC","HF","AF","HY","AY","HR","AR","LBA","LBD","LBH"])

In [ ]:

df.index = range(df.shape[0])
df.columns.name="id"

In [ ]:
df.tail()

id,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,B365H,B365D,B365A
1135,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,13,7,5,2,1.30,6.00,11.0
1136,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,26,13,10,4,1.28,6.50,11.0
1137,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,10,10,3,3,1.44,4.75,8.5
1138,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,11,17,3,9,2.20,3.50,3.5
1139,12/05/2019,Watford,West Ham,1,4,A,0,2,A,17,16,8,9,2.25,3.75,3.2

In [ ]:
h = df['FTHG']
a = df['FTAG']
o = 0 #OVER
u = 0 #UNDER
x = 0
for i in range(len(df)):
    if h[x]+a[x]>1:
        o+=1
    else:
        u+=1
    x+=1    
print(o)
print(u)
porcentagem = o/(o+u)*100
print("Porcentagem de jogos OVER 1.5 {:.2f}%".format(porcentagem))

862
278
Porcentagem de jogos OVER 1.5 75.61%